* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

nav {
  background-color: blue;
  display: flex;
  height: 100vh;
  width: 200px;
  flex-direction: column;
}

nav button {
  border: 2px solid black;
}